<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaun's Newsletter</title>
    <link rel="stylesheet" href="/static/newsletter.css">
    <link rel="stylesheet" href="/static/mediaqueries2.css">
</head>
<body>
    <div class="container">
        <form class="container1" action="/newsletter" method="POST" id = "data-form">
        <label for="desc" style="text-align: center;">Explain what would you like to hear about:</label>   
        <input type="text" name="description" >
        <label for="email" style="text-align: center;">What email would you like to recieve updates on?</label>
        <input type="email" name="email" id="email" >
        <label for="piler" style="text-align: center;">What do you think about piler?</label>
        <input type="text" name="piler" id="piler" >
        <label for="bootcamp" style="text-align: center;">Would you like an AI+mathematics bootcamp?</label>
        <input type="text" name="bootcamp" id="bootcamp" >

        
        <input type="submit" value="Submit" class="btn" />
        
        </form>
    </div>
</body>
</html>